.swipeButtons {
  position: fixed;
  bottom: 3vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background: #fff;
  box-shadow: 0 10px 53px 0 rgba(0,0,0,.3) !important;
}

.btn-repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.btn-close {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.btn-star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.btn-favor {
  padding: 3vw !important;
  color: #76e2b3 !important;
}

.btn-lightning {
  padding: 3vw !important;
  color: #915dd1 !important;
}